.App {
    text-align: center;
  }
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    z-index: 1000;
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-header p {
  font-size: 25px;
  color: #fff;
}

.App-link {
  font-size: 18px;
  color: #61dafb;
}
.App-link:hover {
  border-bottom: 1px solid #61dafb;
}

/* 로딩창 css */
.loading-screen {
  background-color: #555;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.loading-screen p {
  text-align: center;
  color: #fff;
}
  
/* 밤하늘의 별을.. */
.sky {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  opacity: 0.7;
  animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.7; }
  50% { opacity: 1; }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  