@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
    position: relative;
    line-height: 1.6;
    font-family: "Jua", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, blockquote, figure, 
dl, dd, ol, ul {
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    background-color: transparent;
}

button, .btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

img, video, iframe {
    max-width: 100%;
    height: auto;
    border: 0;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.line {
    border-top: 1px solid #444;
    margin: 30px 0;
}

