/* sub1 : profile */
.profile {
    text-align: center;
}
hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid #fff;
}

/* profile - intro */
.intro {
    height: 100%;
}
.intro h2 {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
}
.intro .txtWrap {
    padding: 20px;
}
.intro .txtWrap img {
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}
.intro p {
    line-height: 2.1;
    color: #fff;
}

/* profile - addi */
.addi h2 {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    text-decoration: underline;
}
.addi p {
    line-height: 2.1;
    color: #fff;
}



/* profile - lifeGraph */
.lifeGraph {
    height: 100%;
}
.lifeGraph h4 {
    position: relative;
    font-size: 21px;
    color: #fff;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 20px;
    text-decoration: underline;
}
.lifeGraph h4::before {
    content: "";
    position: absolute;
    left: -29px; 
    top: 50%;
    width: 20px; 
    height: 20px;
    border-radius: 100%;
    background: #ff5a2b;

    transform: translateY(-50%);
    border: 5px solid #1fa7f1;
    box-sizing: border-box;
}
.lifeGraph .shortView {
    position: relative;
    padding: 0 0 0 40px;
}
.lifeGraph .shortView::before {
    content: "";
    position: absolute;
    left: 20px; 
    top: 0;
    height: 100%;
    border-left: 2px solid #ddd;
}
.lifeGraph .shortView:first-child:before {
    top: 10px; 
    height: calc(100%-10px);
}
.lifeGraph dl { 
    padding: 15px 0 20px;
}
.lifeGraph dl dt {
    position: relative;
    font-size: 17px;
    color: #fff;
    line-height: 1;
    margin-bottom: 8px;
    font-weight: 500;
}
.lifeGraph dl dt::before {
    content: "";
    position: absolute;
    left: -26px;
    top: 50%;
    width: 15px; 
    height: 15px;
    border-radius: 100%;
    background: #1fa7f1;

    transform: translateY(-50%);
    border: 4px solid #ff5a2b;
    box-sizing: border-box;
}
.lifeGraph dl dd {
    line-height: 1.9;
}
.lifeGraph dl dd strong {
    display: block;
    font-size: 15px;
    color: #fff;
    line-height: 1.9;
    font-weight: 400;
}
.lifeGraph dl dd em {
    display: block;
    font-size: 12px;
    color: #fff;
    line-height: 1.7;
    padding-left: 30px;
    font-weight: 600;
}


/* ==================================================== */
/* sub2 : project */
.select-wrap h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
  }
  
/*  카드  */
.select-box {
    width: 90%;
    height: 700px;
    border: 1px solid #333;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    transition: background-color 0.3s ease;
}
.select-box:hover {
    background-color: #ededed;
}
  
.box-item {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.box-item:hover {
    transform: rotateY(180deg);
}

/* 카드 앞 뒷면 css */
.box-front, .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}

.box-front {
    z-index: 2;
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
}

.box-back {
    transform: rotateY(180deg);
}