/* 제목 부 */
.title-section {
    margin-top: 50px;
}
.title-section h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 0.7rem;
}

/* 버튼 css */
.btn-group {
    text-align: right;
}
.add-btn, .delete-btn {
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.3s ease;
}
.add-btn {
    background: linear-gradient(45deg, #6c5ce7, #a55eea);
}
.add-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(108, 92, 231, 0.2);
}
.add-btn:nth-child(2) {
    margin-left: 10px;
    margin-right: 50px;
}

.delete-btn {
    background: linear-gradient(45deg, #ff6b6b, #ff8787);
    padding: 0.4rem 1rem;
}
.delete-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 107, 107, 0.2);
}
.button-container {
    margin-top: 1rem;
    text-align: center;
}


/* 테이블 css */
.todo-table {
    width: 80%;
    margin: 0.8rem auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.todo-table th, .todo-table td {
    padding: 1rem;
    text-align: center;
}
.todo-table th {
    background: linear-gradient(45deg, #6c5ce7, #a55eea);
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.todo-table td {
    background-color: #fff;
    font-size: 0.9rem;
    color: #2d3436;
    border-bottom: 1px solid #f1f2f6;
}